*,
*::before,
*::after {
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;

}

body {

  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: .5rem;
}



/* Home Page */
.user-container {
  max-width: 1240px;
  margin: 4rem 15rem;
}

.user-container a {
  text-transform: uppercase;
  font-weight: 800;
  color: red;
}

/* User Page */
.charts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}

.charts article {
  margin: 0 3rem;
  width: 100%;
}

.activityChart {
  background-color: #FBFBFB;
  padding: 30px;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 3rem;
}



.chartsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

/* Chart */
.BarchartContainer {

  width: 100%;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.BarchartTitle {
  text-align: left;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  top: 30px;

}

.activityChartTooltip {
  background-color: #E60000;
  color: white;
  font-weight: bold;
  font-size: 10px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 15px 5px;
}

.activityYAxis {
  font-weight: 500;
  font-size: 14px;
}